<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>PYQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     <ion-card>
      <ion-card-header>
        <ion-img src="assets/images/questionpaper2.jpg"  ></ion-img>
        <ion-card-title>Subject</ion-card-title>
        <ion-card-subtitle>Midt</ion-card-subtitle>
        <ion-card-subtitle>Date</ion-card-subtitle>
        <ion-card-subtitle>Professor</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/images/questionpaper2.jpg"></ion-img>
        <ion-card-title>Subject</ion-card-title>
        <ion-card-subtitle>Midt</ion-card-subtitle>
        <ion-card-subtitle>Date</ion-card-subtitle>
        <ion-card-subtitle>Professor</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/images/questionPaper.jpg"  ></ion-img>
        <ion-card-title>Subject</ion-card-title>
        <ion-card-subtitle>Midt</ion-card-subtitle>
        <ion-card-subtitle>Date</ion-card-subtitle>
        <ion-card-subtitle>Professor</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
 

</ion-content>
