 <p (click)="action('close')">details modal</p>
 <!--
 <ion-content>

   <ng-template>
      <div class="wrapper">
        <h1>Select Details</h1>

        <ion-list lines="none">
          <ion-item>
            <ion-select interface="popover"  [(ngModel)]="userInfo.branch" placeholder="Select Branch">
              <ion-select-option value="CSE">CSE</ion-select-option>
              <ion-select-option value="IT">IT</ion-select-option>
              <ion-select-option value="ECE">ECE</ion-select-option>
              <ion-select-option value="Electrical">EE</ion-select-option>
              <ion-select-option value="Mechaninal">Mech</ion-select-option>
              <ion-select-option value="Civil">Civil</ion-select-option>
            </ion-select>
           </ion-item>
           <ion-item>
            <ion-select interface="popover" [(ngModel)]="userInfo.year" placeholder="Select Year">
              <ion-select-option value="1st">1st</ion-select-option>
              <ion-select-option value="2nd">2nd</ion-select-option>
              <ion-select-option value="3rd">3rd</ion-select-option>
              <ion-select-option value="4th">4th</ion-select-option>
            </ion-select>
           </ion-item>
           <ion-item>
            <ion-select interface="popover" [(ngModel)]="userInfo.college"  placeholder="Select College">
              <ion-select-option   value="IIITB">IIIT BHOPAL</ion-select-option>
              <ion-select-option value="MANIT">MANIT</ion-select-option>
              <ion-select-option value="Others">OTHERS</ion-select-option>
            </ion-select>
           </ion-item>
           <ion-button (click)="action()" expand="block" fill="clear" shape="round">
            Submit
           </ion-button>
        </ion-list>
      </div>
    </ng-template>  -->
